<h1>Lista de usuários cadastrados</h1>
<thead class="bg-gray-200">
  <tr>
    <th scope="col" class="text-left py-3 px-6 font-semibold text-gray-700">ID</th>
    <th scope="col" class="text-left py-3 px-6 font-semibold text-gray-700">Email</th>
    <th scope="col" class="text-left py-3 px-6 font-semibold text-gray-700">Criado em</th>
    <th scope="col" class="text-left py-3 px-6 font-semibold text-gray-700">Ações</th>
  </tr>
</thead>