<div class="bg-white shadow rounded-lg p-4 flex items-center justify-between">
  <div class="flex-1">
    <span class="block text-sm font-medium text-gray-700">Nome</span>
    <span class="block mt-1 text-lg font-semibold text-gray-900">
      <%= customer.name %>
    </span>
  </div>
  <% if policy(customer).update? %>
    <%= link_to edit_customer_path(customer),
      class: "inline-flex items-center px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded hover:bg-blue-700" do %>
        <!--svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2v-5m-10-7l7 7m0 0l-7 7m7-7H5" />
        </!--svg-->
      Editar
    <% end %>
  <% end %>
</div>