<div class="bg-blue-600 py-5">
  <div class="container mx-auto flex items-center justify-between px-4">
    <h1 class="text-white text-2xl font-bold">Clientes</h1>
    <div>
      <% if policy(Customer).create? %>
        <%= link_to new_customer_path,
          class:"px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" do %>
            <span>Novo Cliente</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>